<div id="main" style="float: left; padding-right:300px; ">
    <div class="container">
        <!--Row with three equal columns-->
        <div class="row">
            <div class="col-md-12" style="padding-left:130px;">
                <div class="demo-content">

                    <img src="../../../images/buynsell3.jpg" width="1000" height="150">

                </div>
            </div>




        </div>


    </div>


    <hr>
</div>
<!-- Open the output in a new blank tab (Click the arrow next to "Show Output" button) and resize the window to understand how the Bootstrap responsive grid system works. -->
<div class="container" style="width: 100%">
    <!--Row with two equal columns-->
    <p style="font-size: 25px"><b>
          Published AD'S
          <hr>
          <br>
          <p style="font-size: 22px; "><b>Furniture</b></p>

    </b>
    </p>
    <div class="row">
        <div class="col-sm-12">
            <div class="demo-content1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="demo-content1 bg-alt">
                            <div class="container2">


                                <img src="../../../images/fur1.jpg" title="Jewelry" width="350" height="260">
                                <div class="overlay1">
                                    <div class="text">

                                        <p>Queen Sized Sofa</p>
                                        <p>Rs 80,000</p>
                                        <p></p>


                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="demo-content1 bg-alt">
                            <a href="">
                                    <img src="../../../images/fur2.jpg" title="Jewelry" width="350" height="260">
                                  </a>


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="demo-content1 bg-alt">
                            <a href="">
                                    <img src="../../../images/fur3.jpg" title="Jewelry" width="350" height="260">
                                  </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <hr>
    <br>
    <p style="font-size: 22px; "><b>Bikes</b></p>

    <div class="row">
        <div class="col-sm-12">
            <div class="demo-content1">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="demo-content1 bg-alt">
                            <div class="container2">


                                <img src="../../../images/bike1.jfif" title="Jewelry" width="350" height="260">
                                <div class="overlay1">
                                    <div class="text">

                                        <p>Honda RTR 180</p>
                                        <p>Rs 80,000</p>
                                        <p></p>


                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="demo-content1 bg-alt">
                            <a href="">
                                    <img src="../../../images/bike2.jpg" title="Jewelry" width="350" height="260">
                                  </a>


                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="demo-content1 bg-alt">
                            <a href="">
                                    <img src="../../../images/bike3.jpg" title="Jewelry" width="350" height="260">
                                  </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>